@font-face {
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-family: "Lato";
}

@import "../node_modules/antd/dist/antd.min.css";

body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0px;
  padding: 0px;
}
